<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <%= link_to "Dog Library" , root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to "Library" , home_library_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
        <%= link_to "About" , home_about_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
        <%= link_to "Owner" , home_owner_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
        <%= link_to "Breed" , home_breed_path, class:"nav-link active"%>
        </li>
      </ul>

      <%= form_tag home_search_path, method: :get, class: "d-flex", role: "search" do %>
        <div class="input-group">
          <select class="form-select me-2" name="size">
            <option value="">All Sizes</option>
            <option value="small">Small Breeds</option>
            <option value="medium">Medium Breeds</option>
            <option value="large">Large Breeds</option>
          </select>
          <input class="form-control" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      <% end %>
    </div>
  </div>
</nav>