<%= paginate @breeds %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Num</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Owner</th>
    </tr>
  </thead>
  <tbody>
  <%  i=1 %>
  <% @breeds.each do |breed| %>
  <tr>
      <th scope="row"><%=i %></th>
      <td><%= link_to breed.name.capitalize, info_path(id: breed.id) ,class: "no-underline"%></td>
      <td> <%= image_tag breed.images.first.url, size: '200x200', alt: 'Breed Image' %></td>
      <td>
 <% if breed.owners.any? %>
  <% breed.owners.each do |owner| %>
    <%= owner.name.capitalize %><br>
  <% end %>
<% else %>
  <p>No owners found.</p>
<% end %>

</td>

      <%i+=1 %>
    </tr>
  <% end %>
  </tbody>
</table>



